<div class="card">
  <div class="card-header">
    <h2><%= l10n(@session.language_code, "action.new.html", "PAGE_TITLE") %></h2>
  </div>
<%= render "form.html", conn: @conn, session: @session %>
</div>
