<h2>Show action</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @action.description %>
  </li>

  <li>
    <strong>ConfigurationId:</strong>
    <%= @action.configuration_id %>
  </li>

</ul>

<%= link "Back", to: action_path(@conn, :index) %>