.notifyjs-metro-base {
	position: relative;
  min-height: 52px;
	color: #fafafa !important;
	background-color: #333 !important;
	border: 3px solid #000 !important;
}

.notifyjs-metro-base .image {
  display: table;
  position: absolute;
  height: auto;
  width: auto;
  left: 25px;
  top: 50%;

  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notifyjs-metro-base .text-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 10px 10px 10px 52px;
    clear: both;
    font-family: 'Segoe UI';
}

.notifyjs-metro-base .title {
    font-size: 15px;
    font-weight: bold;
}

.notifyjs-metro-base .text {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.notifyjs-metro-error {
	background-color: #CC0707 !important;
  border: 3px solid #FF0026 !important;
}

.notifyjs-metro-success {
		background-color: #34AC35 !important;
		border: 3px solid #4DB149 !important;
}
.notifyjs-metro-info {
		background-color: #1840CA !important;
		border: 3px solid #4490CA !important;
}
.notifyjs-metro-warning {
	  color: #444 !important;
		background-color: #DCDC22 !important;
		border: 3px solid #EEEE45 !important;
}
.notifyjs-metro-black {
		background-color: #333 !important;
		border: 3px solid #000 !important;
}
.notifyjs-metro-white {
		color: #444 !important;
		background-color: #f1f1f1 !important;
		border: 3px solid #ddd !important;
}
