<!DOCTYPE html>
<html class="login-content">
  <head>
    <title> <%= "Checkpoint :: " <> l10n(@conn, "PAGE_TITLE") %> </title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico")%>" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CentralGPS - Checkpoint module">
    <meta name="author" content="cmelgarejo">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/roboto``.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/animate.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/sweet-alert.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/material-design-iconic-font.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pace.css") %>">
    <script src="<%= static_path(@conn, "/js/pace.min.js") %>"></script>
  </head>
  <body class="login-content">
    <%= @inner %>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/sweet-alert.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/waves.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/login.js") %>"></script>
  </body>
</html>
