<!DOCTYPE html>
<html>
  <head>
    <title>Checkpoint :: App</title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico")%>" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CentralGPS - Checkpoint module">
    <meta name="author" content="cmelgarejo">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pace.css") %>">
    <script src="<%= static_path(@conn, "/js/pace.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/material-design-iconic-font.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/roboto.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/animate.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/sweet-alert.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/notify-metro.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/jquery.bootgrid.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!--<script src="<%= static_path(@conn, "/js/moment.min.js") %>"></script>-->
    <script src="<%= static_path(@conn, "/js/moment-with-locales.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/mustache.js") %>"></script>
  </head>
  <body>
    <div class="container">
      <%= @inner %>
    </div>
    <script src="<%= static_path(@conn, "/js/waves.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/notify.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/notify-metro.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/sweet-alert.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.bootgrid.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/chosen.jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/fx.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.mask.js") %>"></script>
  </body>
</html>
