<div class="card lc-block">
  <div class="card-header">
    <h2><%= l10n(@session.language_code, "account.crud.html", "PAGE_NEW_TITLE") %></h2>
  </div>
<%= render "form.html", conn: @conn, session: @session, record: %{__form__: :new, status: true, msg: nil, image_path: @image_placeholder} %>
</div>
