<div class="card">
  <div class="card-header">
    <h2><%= l10n(@session.language_code, "measure_unit.crud.html", "PAGE_NEW_TITLE") %></h2>
  </div>
<%= render "form.html", conn: @conn, session: @session, record: %{__form__: :new, status: true, msg: nil} %>
</div>
