<div class="block-header">
  <h2>
    <%= l10n(@language_code, "assets.html", "PAGE_TITLE") %>
    </h2>
    <br/>
    Welcome to CentralGPS
    <br/>
    Here should be called/injected the dashboard.html via render, and every page in the menu.
  </div>
</div>
